{% extends 'base.html.twig' %}

{% block title %}Détail article
{% endblock %}

{% block stylesheets %}

	{{ parent() }}

{# <link> #}
	{# href="{{ asset('css/showArticle/showArticle.css') }}" rel="stylesheet"/> #}
	{#{{ encore_entry_link_tags('app') }}#}
{% endblock %}

{% block body %}

	<div class="wrapper">
		<div class="post">
			<div class="post__entete">
				<a class="post__title" href="{{ path('article_show', {id: publication.id}) }}">
					<h4 class="m-4">{{ publication }}</h4>
				</a>
				<a href="{{ path('user_show', {id: publication.auteurArticle.id}) }}" class="post__user">
					<figure><img class="user__avatar" src="{{ asset('img/avatar/' ~ publication.auteurArticle.avatar) }}"/></figure>
					<h5 class="user__name">{{ publication.auteurArticle.pseudo }}</h5>
				</a>
			</div>
			<div class="post__lieuEtDate post__lieuEtDate--show">
				{% if publication.place is not null %}
					<span class="post__categories">Lieu :
						<a href="{{path('indexLieu', {id: publication.place.id})}}">{{ publication.place }}</a>
					</span>
				{% endif %}
				<span>
					Publié le
					{{publication.dateCreation|date("m/d/Y") }}
				</span>
			</div>
			<figure class="post__wrapperPictures">
				{% for galerie in publication.galeries %}
					<img class="post__picture" src="{{ asset('img/galerie/' ~ galerie.img) }}"/>
					<figcaption class="post__legende--show">{{ galerie.legende }}</figcaption>
				{% endfor %}
			</figure>
			<article class="post__paragraph--solo">{{ publication.texte|raw }}</article>
			<p class="post__categories">Pays :
				<a href="{{path('pays_show', {id: publication.pays.id})}}">{{ publication.pays }}</a>, thème :
				<a href="{{ path('theme_show', {id: publication.theme.id}) }}">{{ publication.theme }}</a>
			</p>
			{% if (publication.hashtags|length > 0) %}
				<p>Mots-clés :
					{% for hashtag in publication.hashtags %}
						<strong>
							<a href="{{ path('indexTag', {id: hashtag.id}) }}">{{hashtag.name}}</a>
						</strong>
					{% endfor %}
				</p>
			{% endif %}


			{% if app.user %}
				{% set liked = false %}
				{% for like in publication.likes %}
					{% if (app.user == like.user) %}
						{% set liked = true %}
					{% endif %}
				{% endfor %}
				<div>
					<a href="{{ path('likeArticle', {idArticle: publication.id}) }}" class="like">
						{% if (liked == true) %}
							<i class="fa fa-heart"></i>
						{% else %}
							<i class="far fa-heart"></i>
						{% endif %}
					</a>
					<span class="nbLikes">
						{{publication.likes|length }}</span>
				</div>
				{% include 'components/commentaires.twig'%}

			{% endif %}


			{% if publication.auteurArticle == app.user %}

				<a class="btn btn-warning m3" href="{{ path('modifierArticle', {idAuteur: publication.auteurArticle.id, idArticle: publication.id}) }}">Modifier l'article</a>

			{% endif %}
			{% if (publication.auteurArticle == app.user) or (is_granted("ROLE_ADMIN")) %}

				<button class="btn btn-danger m3" data-toggle="modal" data-target="#exampleModal">Supprimer l'article</button>

			{% endif %}

		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Action irréversible</h5>
					<button type="button" class="close btn btn-secondary" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Êtes-vous vraiment sûr de vouloir supprimer l'article ? Cette action est définitive.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Revenir en arrière</button>
					<a class="btn btn-danger m3" href="{{ path('supprimerArticle', {idArticle: publication.id, idAuteur:publication.auteurArticle.id}) }}">Confirmer</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
