{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	<div id="lightbox" class="flex">
		<i id="croix" class="fas fa-times"></i>
		<i id="left" class="fas fa-arrow-left"></i>
		<figure><!-- <img src="…"> -->
			<!-- <figcaption>texte</figcaption> -->
		</figure>
		<i id="right" class="fas fa-arrow-right"></i>
	</div>

	<div class="wrapper-whole">
		<figure class="publishStuff">
			<img class="publishStuff__img" src="{{ asset('img/publication.jpg') }}"/>
			<h1 class="publishStuff__h1">Publie ton prochain article !</h1>
		</figure>

		<div class="wrapper-main">

			{% if app.user %}
				<h1>
					Hello
					{{ app.user.pseudo }}
					!</h1>
			{% endif %}
			<div class="wrapper-posts">
				{% for user in users %}
					{% for publication in user.publications %}
						<div class="post">
							<div class="post__user">
								<figure><img class="user__avatar" src="{{ asset('img/avatar/' ~ publication.auteurArticle.avatar) }}"/></figure>
								<h5 class="user__name">{{ publication.auteurArticle.pseudo }}</h5>
							</div>
							<h4 class="post__title">{{ publication }}</h4>
							{% if (publication.galeries | length > 1) %}
								<figure class="post__wrapperPictures--many">
								{% else %}
									<figure class="post__wrapperPictures">
									{% endif %}
									{% for galerie in publication.galeries %}
										<img class="post__picture" src="{{ asset('img/galerie/' ~ galerie.img) }}"/>
										<figcaption class="post__legende">{{ galerie.legende }}</figcaption>
									{% endfor %}
								</figure>
								<p class="post__paragraph">{{ publication.texte }}</p>
								<p class="post__categories">Pays :
									{{ publication.pays }}, thème :
									{{ publication.theme }}</p>
							</div>
						{% endfor %}
					{% endfor %}
				</div>
				<div class="wrapperAside">
					<div class="aside">
						<h6 class="aside__h6">Découvrez ces profils :</h6>
						<div class="aside__user">
							<figure><img class="aside__user__avatar" src="{{ asset('img/avatar/avatarRobert.jpg') }}"/></figure>
							<h5 class="aside__user__name">Robert</h5>
						</div>
					</div>
					<div class="aside aside--bottom">
						<h6 class="aside__h6">Tendances du moment :</h6>
						<p class="aside__hashtags">#italie<br>#depart<br>#fomalites<br></p>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
