<div class="wrapperAside">

	{% set nbSuggestions = suggestions|length %}
	{% set nbFollowsInSuggestions = 0 %}
	{% set suggestionsAffichees = false %}

	{% for suggestion in suggestions %}

		{% if app.user.following.contains(suggestion) %}
			{% set nbFollowsInSuggestions = nbFollowsInSuggestions + 1 %}
		{% endif %}
	{% endfor %}
	{% if nbSuggestions != nbFollowsInSuggestions %}

		{% if app.user %}
			{% if suggestions is not empty %}

				<div class="aside">
					<h6 class="aside__h6">Découvrez ces profils :</h6>
					{% for suggestion in suggestions %}
						{% if not (app.user.following.contains(suggestion)) %}
							<a href="{{ path('user_show', {id: suggestion.id}) }}">
								<div class="aside__user">
									<figure><img class="aside__user__avatar" src="{{ asset('img/avatar/' ~ suggestion.avatar) }}" alt="avatar user"/></figure>
									<h5 class="aside__user__name">{{suggestion.pseudo}}</h5>
								</div>
							</a>
							{% set suggestionsAffichees = true %}
						{% endif %}
					{% endfor %}
				</div>
			{% endif %}
		{% endif %}
	{% endif %}

	{% if suggestionsAffichees == false %}
		<div class="aside">
			<h6 class="aside__h6">Tendances du moment :</h6>
			{% for tendance in tendances %}
				<p class="aside__hashtags">
					<a href="{{ path('indexTag', {id: tendance.id}) }}">#{{ tendance.name }}</a>
				</p>
			{% endfor %}
		</div>
	{% endif %}
	{% if suggestionsAffichees == true %}
		<div class="aside aside--bottom">
			<h6 class="aside__h6">Tendances du moment :</h6>
			{% for tendance in tendances %}
				<p class="aside__hashtags">
					<a href="{{ path('indexTag', {id: tendance.id}) }}">#{{ tendance.name }}</a>
				</p>
			{% endfor %}
		</div>
	{% endif %}

</div>
