<main class="d-flex main__messagerie">
	<div class="messagerie__correspondants">
		<div class="wrapper--messagerie">
			{% for correspondant in correspondants %}
				{% if (correspondant != app.user)%}
					{% if (correspondantActuel is defined) and (correspondant == correspondantActuel) %}
						<div class="flex flex--userFirst">
							<div class="user">
								<figure class="user__containAvatar"><img class="user__avatar" src="{{ asset('img/avatar/' ~ correspondant.avatar) }}"/></figure>
								<a class="user__name" href="{{ path('messagerieShow', {id: correspondant.id}) }}">
									<h5>{{ correspondant.pseudo }}</h5>
								</a>
							</div>
						</div>
					{% else %}
						<div class="flex">
							<div class="user">
								<a class="user__name" href="{{ path('messagerieShow', {id: correspondant.id}) }}">
									<figure class="user__containAvatar"><img class="user__avatar" src="{{ asset('img/avatar/' ~ correspondant.avatar) }}"/></figure>
									<h5>{{ correspondant.pseudo }}</h5>
								</a>
								{% set notification = false %}
								{% for message in correspondant.messagesSend %}
									{% if message.newMessage == 1 %}
										{% if message.received == app.user %}
											{% set notification = true %}
										{% endif %}
									{% endif %}
								{% endfor %}
								<div>
									{% if notification == true %}
										<i class="fas fa-circle notif"></i>
									{% endif %}
									{% set notification = false %}
								</div>
							</div>
						</div>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
	{% if newMessageForm is defined %}
		{{ form(newMessageForm) }}{% endif %}
		{% if correspondantActuel is defined %}
			<div class="block__Messages">
				<div class="messages__conversation">
					{% set correspondance = false %}
					{% for message in messagesUser %}
						{% if (message.received == app.user) %}
							{% set correspondance = true %}
							<div class="blockMessage">
								<p class="message">{{message.texte}}
									<small>{{ message.send.pseudo }}</small>
									<small>{{ message.dateTime|date("m/d/Y H:i") }}</small>
								</p>
							</div>
						{% else %}
							{% if (message.send == app.user) %}
								{% set correspondance = true %}
								<div class="blockMessage blockMessage--sender">
									<p class="message">{{message.texte}}
										<strong>{{ message.send.pseudo }}</strong>
										<small>{{ message.dateTime|date("m/d/Y H:i") }}</small>
									</p>
								</div>
							{% endif %}
						{% endif %}
					{% endfor %}
					{% if correspondance == false %}
						<p class="text-center">Faites un nouveau message ci-dessous pour démarrer la conversation avec
							{{correspondantActuel.pseudo|capitalize}}
						</p>
						<p>
						{% endif %}
					</div>
					{% if answerForm is defined %}
						<div class="messages__envoyer">
							{{ form(answerForm) }}
							</div>
						{% endif %}
					</div>
				{% else %}
					{% if (correspondantActuel is not defined) and (newMessageForm is not defined) %}
						<div class="block__Messages--empty">
							<h5 class="text-center m-3">Commencer une nouvelle conversation</h5>
							<div class="messages__envoyer">
								{{ form(answerForm) }}
								</div>
							</div>
						{% endif %}
					{% endif %}
				</main>
