{% extends 'base.html.twig' %}

{% block title %}Index Pays
{% endblock %}

{% block stylesheets %}

	{{ parent() }}

{# <link
    href="{{ asset('css/pays/paysList/style.css') }}" rel="stylesheet"/>   #}
	{#{{ encore_entry_link_tags('app') }}#}
{% endblock %}

{% block body %}
	<h1 class="titre pt-5">Pays</h1>
	<div class="wrapperFlex row">
		{% for pays in pays %}
			<a href="{{ path('pays_show', {id: pays.id}) }}" class="a col-lg-3 col-sm-5 col-11 m-2">
				<figure class="pays picture">
					<img src="{{ asset('img/pays/' ~ pays.img) }}" alt="photo du pays" class="thumbnail">
					<figcaption class="title">
						{{ pays.libelle }}
					</figcaption>
				</figure>
			</a>
		{% endfor %}
	</div>
{% endblock %}
