{% extends 'base.html.twig' %}

{% block title %}Détail Pays
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block body %}

	{% include 'components/lightbox.twig' %}

	<div class="wrapper-whole">
		<header class="banner">
			<figure class="picture">
				<img src="{{ asset('img/pays/' ~ pays.img) }}" alt="#" class="thumbnail">
				<figcaption class="title">{{ pays.libelle }}</figcaption>
			</figure>
		</header>
		<section class="themes">
			<h2>Thèmes :</h2>
			<div class="wrapperFlex row your-class">
				{% for theme in themes %}
					<a href="{{ path('both_show', {idPays: pays.id, idTheme: theme.id}) }}" class="a col-lg-3 col-sm-5 col-11 m-2">
						<figure class="picture">
							<img src="{{ asset('img/themes/' ~ theme.img) }}" alt="#" class="thumbnail">
							<figcaption class="title">
								{{ theme.libelle }}
							</figcaption>
						</figure>
					</a>
				{% endfor %}
			</div>
			{# <button class="link">Voir plus</button> #}
		</section>

		<main class="wrapper-main">
			<div class="wrapper-posts">
				{% for publication in pays.articles %}
					{% if publication.statut == 1 %}

						{% include 'components/publication.twig' %}

					{% endif %}
				{% endfor %}
			</div>

			{% include 'components/asideMembres.twig' %}

		</main>

	</div>
{% endblock %}
