{% extends 'base.html.twig' %}

{% block title %}Hello PaysController!{% endblock %}

{% block stylesheets %}

	{{ parent() }}

    {# <link
    href="{{ asset('css/pays/paysShow/style.css') }}" rel="stylesheet"/>   #}
    {#{{ encore_entry_link_tags('app') }}#}
{% endblock %}

{% block body %}
<div class="wrapper-whole">
<header class="banner">
	<figure class="picture">
		<img src="{{ asset('img/pays/' ~ pays.img) }}" alt="#" class="thumbnail">
		<figcaption class="title">{{ pays.libelle }}</figcaption>
	</figure>
</header>
<section class="themes">
	<h2>Thèmes :</h2>
	<div class="wrapperFlex">
  {% for theme in themes %}
	<a href="{{ path('both_show', {idPays: pays.id, idTheme: theme.id}) }}">
    <figure class="picture">
        <img src="{{ asset('img/themes/' ~ theme.img) }}" alt="#" class="thumbnail">
        <figcaption class="title"> {{ theme.libelle }} </figcaption>
    </figure>
	</a>
  {% endfor %}
	</div>
  <button class="link">Voir plus</button>
</section>

{# <aside class="aside">
	<h4>Membres intéressés par ce pays :</h4>
						<div class="aside__user">
							<figure><img class="aside__user__avatar" src="{{ asset('img/avatar/avatarRobert.jpg') }}"/></figure>
							<h5 class="aside__user__name">Robert</h5>
						</div>
            <div class="aside__user">
							<figure><img class="aside__user__avatar" src="{{ asset('img/avatar/avatarRobert.jpg') }}"/></figure>
							<h5 class="aside__user__name">Robert</h5>
						</div>
						<div class="aside__user">
							<figure><img class="aside__user__avatar" src="{{ asset('img/avatar/avatarRobert.jpg') }}"/></figure>
							<h5 class="aside__user__name">Robert</h5>
						</div>
						<div class="aside__user">
							<figure><img class="aside__user__avatar" src="{{ asset('img/avatar/avatarRobert.jpg') }}"/></figure>
							<h5 class="aside__user__name">Robert</h5>
						</div>
						<div class="aside__user">
							<figure><img class="aside__user__avatar" src="{{ asset('img/avatar/avatarRobert.jpg') }}"/></figure>
							<h5 class="aside__user__name">Robert</h5>
						</div>
</aside> #}
<main class="wrapper-main">
<div class="wrapper-posts">
{% for publication in pays.articles %}

{% include 'components/publication.twig' %}
						{# <div class="post">
							<div class="post__user">
								<figure><img class="user__avatar" src="{{ asset('img/avatar/' ~ publication.auteurArticle.avatar) }}"/></figure>
								<a class="user__name" href = "{{ path('user_show', {id: publication.auteurArticle.id}) }}"><h5>{{ publication.auteurArticle.pseudo }}</h5></a>
							</div>
							<a class="post__title" href="{{ path('article_show', {id: publication.id}) }}"><h4>{{ publication }}</h4></a>
							{% if (publication.galeries | length > 1) %}
								<figure class="post__wrapperPictures--many">
								{% else %}
									<figure class="post__wrapperPictures">
									{% endif %}
									{% for galerie in publication.galeries %}
										<img class="post__picture" src="{{ asset('img/galerie/' ~ galerie.img) }}"/>
										<figcaption class="post__legende">{{ galerie.legende }}</figcaption>
									{% endfor %}
								</figure>
								<p class="post__paragraph">{{ publication.texte }}</p>
								<p class="post__categories">Pays :
									{{ publication.pays }}, thème :
									{{ publication.theme }}</p>
							</div> #}

{% endfor %}
</div>

{% include 'components/asideMembres.twig' %}

</main>


</div>

{% endblock %}