{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	{% include 'components/lightbox.twig' %}


	{% if app.user.following is empty %}

		<figure class="publishStuff publishStuff--follow">
			<a href="{{ path('users') }}">
				<h1 class="publishStuff__h1 publishStuff__h1--follow">Suivez vos voyageurs préférés !</h1>
			</a>
		</figure>

	{% endif %}

	<figure
		class="publishStuff publishStuff--publish">
		{# <a class="btn btn-info m-1" id="searchLittle" href="{{ path('search')}}">
					<i class="fas fa-search"></i>
				</a> #}
		<form action="{{path('search')}}" method="post" class="col-3" id="searchBig">
			<div class="d-flex">
				<input class="form-control me-sm-2" placeholder="Rechercher un membre, un article…" type="search" name="search"/>
				<button type="submit" class="btn btn-info m-1">
					<i class="fas fa-search"></i>
				</button>
			</div>
			<div class="d-flex">
				<div class="m-3">
					<h5 class="mt-2 recherche__textefiltres">Filtrer par thème :</h4>

					<select class="js-example-basic-multiple" name="themes[]" multiple="multiple">
						{% for theme in themes %}
							<option value="{{theme.id}}">{{theme}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="m-3">
					<h5 class="mt-2 recherche__textefiltres">Filtrer par pays :</h4>

					<select class="js-example-basic-multiple" name="pays[]" multiple="multiple">
						{% for pays in countries %}
							<option value="{{pays.id}}">{{pays}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="m-3">
					<h5 class="mt-2 recherche__textefiltres">Filtrer par mot-clé :</h4>

					<select class="js-example-basic-multiple" name="tag[]" multiple="multiple">
						{% for tag in hashtags %}
							<option value="{{tag.id}}">{{tag.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</form>
		{# <img class="publishStuff__img" src="{{ asset('img/publication.jpg') }}"/> #}
		<a href="{{ path('ajoutArticle', {idAuteur: app.user.id}) }}">
			<h1 class="publishStuff__h1">Publie ton prochain article !</h1>
		</a>
	</figure>

	<div class="wrapper-whole">

		<div class="wrapper-main">

			<div class="wrapper-posts">
				{% for publication in publications %}

					{% include 'components/publication.twig' %}

				{% endfor %}
			</div>

			{% include 'layouts/asideHome.twig' %}
		</div>
	</div>
{% endblock %}
