{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	<div class="container m-5 col-12">
		<figure class="container col-12">
			<img class="container col-12" src="{{ asset('img/publication.jpg') }}"/>
		</figure>

		<div class="d-flex justify-content-between col-12">

			{% if app.user %}
				<h1>
					Hello
					{{ app.user.pseudo }}
					!</h1>
			{% endif %}
			<div>
				{% for user in users %}
					<div class="d-flex justify-content-start align-items-center">
						<figure><img class="avatar" src="{{ asset('img/avatar/' ~ user.avatar) }}"/></figure>
						<h5 class="text-uppercase">{{ user.pseudo }}</h5>
					</div>
					{% for publication in user.publications %}
						<h4>{{ publication }}</h4>
						{% for galerie in publication.galeries %}
							<figure><img class="img-thumbnail" src="{{ asset('img/galerie/' ~ galerie.img) }}"/></figure>
						{% endfor %}
						<p>{{ publication.texte }}</p>
						<p>Pays :
							{{ publication.pays }}, thème :
							{{ publication.theme }}</p>
					{% endfor %}
				{% endfor %}
			</div>
			<div>
				<div class="bg-success m-2 p-2">
					<h6>Découvrez ces profils :</h6>
					<div class="d-flex justify-content-start align-items-center">
						<figure><img class="avatar" src="{{ asset('img/avatar/avatarRobert.jpg') }}"/></figure>
						<h5 class="text-uppercase">Robert</h5>
					</div>
				</div>
				<div class="bg-success m-2 p-2">
					<h6>Tendances du moment :</h6>
					<p>#italie<br>#depart<br>#fomalites<br></p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
