{% extends 'base.html.twig' %}

{% block title %}Recherche
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block body %}


	<div class="wrapper-whole">
		<h1 class="text-center marginTop">Résultats de la recherche "{{search|capitalize}}"</h1>

		{% if (results[0] is empty) and (results[1] is empty) and (results[2] is empty) and (results[3] is empty) and (results[4] is empty) %}
			<h2 class="text-center mt-4">Pas de résultats</h2>
		{% endif %}

		{% if results[0]|length != 0 %}
			<h4 class="mt-2">Articles ({{results[0]|length}})</h4>

			<form action="{{path('search')}}" method="POST">
				<div class="d-flex">
					<div class="m-3">
						<h5 class="mt-2">Filtrer par thème :</h4>

						<select class="js-example-basic-multiple" name="themes[]" multiple="multiple">
							{% for theme in themes %}
								<option value="{{theme.id}}">{{theme}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="m-3">
						<h5 class="mt-2">Filtrer par pays :</h4>

						<select class="js-example-basic-multiple" name="pays[]" multiple="multiple">
							{% for pays in countries %}
								<option value="{{pays.id}}">{{pays}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="m-3">
						<h5 class="mt-2">Filtrer par mot-clé :</h4>

						<select class="js-example-basic-multiple" name="tag[]" multiple="multiple">
							{% for tag in hashtags %}
								<option value="{{tag.id}}">{{tag.name}}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<input name="search" type="hidden" value="{{search}}">

				<button type="submit" class="btn btn-success m-3">Actualiser</button>
			</form>
			<div class="wrapper-main">

				<div class="wrapper-posts">

					{% for publication in results[0] %}

						{% include 'components/publication.twig' %}

					{% endfor %}
				</div>
			</div>
		{% endif %}

		{% if results[1]|length != 0 %}

			<h4 class="mt-2">Membres ({{results[1]|length}})</h4>
			{% for membre in results[1] %}
				<div class="wrapper">

					{% include 'components/membres.twig' %}

				</div>

			{% endfor %}
		{% endif %}

		{% if results[2]|length != 0 %}

			<h4 class="mt-2">Mots-clés ({{results[2]|length}})</h4>
			<ul>
				{% for hashtag in results[2] %}
					<li>
						<a href="{{ path('indexTag', {id: hashtag.id}) }}">{{hashtag.name}}</a>
					</li>
				{% endfor %}
			</ul>
		{% endif %}

		{% if results[3]|length != 0 %}

			<h4 class="mt-2">Catégorie Pays ({{results[3]|length}})</h4>
			<div class="wrapperFlex">
				{% for pays in results[3] %}
					<a href="{{ path('pays_show', {id: pays.id}) }}" class="a col-lg-3 col-sm-5 col-11 m-2">
						<figure class="pays picture">
							<img src="{{ asset('img/pays/' ~ pays.img) }}" alt="#" class="thumbnail">
							<figcaption class="title">
								{{ pays.libelle }}
							</figcaption>
						</figure>
					</a>
				{% endfor %}
			</div>
		{% endif %}
		{% if results[4]|length != 0 %}

			<h4 class="mt-2">Catégorie Thème ({{results[4]|length}})</h4>
			<div class="wrapperFlex">
				{% for theme in results[4] %}
					<a href="{{ path('theme_show', {id: theme.id}) }}" class="a col-lg-3 col-sm-5 col-11 m-2">
						<figure class="theme picture">
							<img src="{{ asset('img/themes/' ~ theme.img) }}" alt="#" class="thumbnail">
							<figcaption class="title">
								{{ theme.libelle }}
							</figcaption>
						</figure>
					</a>
				{% endfor %}
			</div>
		{% endif %}

	</div>
{% endblock %}
