{% extends 'base.html.twig' %}

{% block title %}Hello PaysController!
{% endblock %}

{% block stylesheets %}

	{{ parent() }}

	<link
	href="{{ asset('css/bothCategories/show/style.css') }}" rel="stylesheet"/>
{#{{ encore_entry_link_tags('app') }}#}
{% endblock %}

{% block body %}
	<div class="wrapper-whole">

		<header class="banner">
			<figure class="picture">
				<img src="{{ asset('img/pays/' ~ pays.img) }}" alt="#" class="thumbnail">
				<figcaption class="title">{{ pays.libelle }}</figcaption>
			</figure>
		</header>
		<h2>Thème :
			{{ theme.libelle }}</h2>
		<main class="wrapper-main">
			<div class="wrapper-posts">

				{% for publication in pays.articles %}
					{% if publication.theme == theme %}
						{% if publication.statut == 1 %}


							{% include 'components/publication.twig' %}

						{% endif %}
					{% endif %}
				{% endfor %}

			</div>

			{% include 'components/asideMembres.twig' %}

		</main>

	{% endblock %}
