{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block stylesheets %}

	{{ parent() }}

	<link href="{{ asset('css/showUser/style.css') }}" rel="stylesheet"/>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}


{% block body %}

	{% if user == app.user %}
		<div class="dashboard">
			{% if is_granted("ROLE_ADMIN") %}
				<a class="dashboard__link" href="{{ path('admin') }}">Espace admin</a>
			{% endif %}
			<a class="dashboard__link" href="{{ path('ajoutArticle', {idAuteur: user.id}) }}">Publier un nouvel article</a>
			<a class="dashboard__link" href="{{ path('brouillons', {id: user.id}) }}">Voir mes brouillons</a>
			<a class="dashboard__link" href="{{ path('editProfil', {id: user.id}) }}">éditer mon profil</a>
			<a class="dashboard__link" href="{{ path('messagerie', {id: user.id}) }}">Messagerie</a>
			<a class="dashboard__link" href="{{ path('app_logout') }}">Se déconnecter</a>
		</div>
	{% endif %}

	<div class="wrapper">
		<div class="header">
			<div class="avatar">
				<figure class="header__user">
					<img src="{{ asset('img/avatar/' ~ user.avatar) }}" alt="#" class="user__picture">
				</figure>
				<h1 class="user__name">
					{{ user.pseudo }}
				</h1>
			</div>
			{% if app.user %}
				{% if user != app.user %}
					{% if is_granted("ROLE_ADMIN") %}
						{# href="{{ path('deleteUser', {id: user.id}) }}" #}
						<button class="header__delete btn btn-danger justify-content-end" data-toggle="modal" data-target="#exampleModal">Supprimer ce compte</button>

						<!-- Modal -->
						<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Suppression irréversible</h5>
										<button type="button" class="close btn btn-primary" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										Etes-vous bien sûr de vouloir effectuer cette action définitive ?
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-primary" data-dismiss="modal">Non</button>
										<a class="btn btn-danger" href="{{ path('deleteUser', {id: user.id}) }}">Supprimer</a>
									</div>
								</div>
							</div>
						</div>

					{% endif %}
					{% if user.followers.contains(app.user) %}
						<a class="header__follow" href="{{ path('unfollowing', {id: user.id}) }}">Ne plus suivre ce membre</a>
					{% else %}
						<a class="header__follow" href="{{ path('following', {id: user.id}) }}">suivre ce membre</a>
					{% endif %}
					<button class="header__sendMessage">envoyer un message à ce membre</button>
				{% endif %}
			{% endif %}

		</div>
		<main class="main d-flex main__messagerie">
			<div class="messagerie__correspondants">
				{% for correspondant in correspondants %}
					{% if (correspondant != app.user)%}
						{% if (correspondantActuel is defined) and (correspondant == correspondantActuel) %}
							<div class="flex flex--userFirst">
								<div class="user">
									<figure class="user__containAvatar"><img class="user__avatar" src="{{ asset('img/avatar/' ~ correspondant.avatar) }}"/></figure>
									<a class="user__name" href="{{ path('messagerieShow', {id: correspondant.id}) }}">
										<h5>{{ correspondant.pseudo }}</h5>
									</a>
								</div>
							</div>
						{% else %}
							<div class="flex">
								<div class="user">
									<figure class="user__containAvatar"><img class="user__avatar" src="{{ asset('img/avatar/' ~ correspondant.avatar) }}"/></figure>
									<a class="user__name" href="{{ path('messagerieShow', {id: correspondant.id}) }}">
										<h5>{{ correspondant.pseudo }}</h5>
									</a>
								</div>
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}
			</div>
			{% if newMessageForm is defined %}
				{{ form(newMessageForm) }}{% endif %}
				{% if correspondantActuel is defined %}
					<div class="block__Messages">
						{% for message in messagesUser %}
							{% if (message.received == app.user) %}
								<div class="blockMessage">
									<p class="message">{{message.texte}}
										<small>{{ message.send.pseudo }}</small>
										<small>{{ message.dateTime|date("m/d/Y H:i") }}</small>
									</p>
								</div>
							{% else %}
								{% if (message.send == app.user) %}
									<div class="blockMessage blockMessage--sender">
										<p class="message">{{message.texte}}
											<strong>{{ message.send.pseudo }}</strong>
											<small>{{ message.dateTime|date("m/d/Y H:i") }}</small>
										</p>
									</div>
								{% endif %}
							{% endif %}
						{% endfor %}
						{% if answerForm is defined %}
							{{ form(answerForm) }}{% endif %}
						</div>
					{% else %}
						{% if (correspondantActuel is not defined) and (newMessageForm is not defined) %}
							<div class="block__Messages--empty">
								<p class="text-center m-3">Aucun message n'est sélectionné</p>
								<div class="text-center">
									<a href="{{ path('newMessage', {id: app.user.id}) }}" class="btn btn-info">Nouveau message</a>
								</div>
							</div>
						{% endif %}
					{% endif %}
				</main>
			{% endblock %}
