{% extends 'base.html.twig' %}

{% block title %}Messagerie
{% endblock %}

{% block stylesheets %}

	{{ parent() }}

	{# <link href="{{ asset('css/showUser/style.css') }}" rel="stylesheet"/> #}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block body %}

	<a href="{{ path('messagerie') }}" class="btn btn-info m-2">Nouveau message</a>
	{% if app.user %}
		{% if user != app.user %}
			{% if is_granted("ROLE_ADMIN") %}
				{# href="{{ path('deleteUser', {id: user.id}) }}" #}
				<button class="header__delete btn btn-danger justify-content-end" data-toggle="modal" data-target="#exampleModal">Supprimer ce compte</button>

				<!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Suppression irréversible</h5>
								<button type="button" class="close btn btn-primary" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								Etes-vous bien sûr de vouloir effectuer cette action définitive ?
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" data-dismiss="modal">Non</button>
								<a class="btn btn-danger" href="{{ path('deleteUser', {id: user.id}) }}">Supprimer</a>
							</div>
						</div>
					</div>
				</div>

			{% endif %}
			{% if user.followers.contains(app.user) %}
				<a class="header__follow" href="{{ path('unfollowing', {id: user.id}) }}">Ne plus suivre ce membre</a>
			{% else %}
				<a class="header__follow" href="{{ path('following', {id: user.id}) }}">suivre ce membre</a>
			{% endif %}
			<button class="header__sendMessage">envoyer un message à ce membre</button>
		{% endif %}
	{% endif %}

	{% include 'layouts/messagerie.twig'%}
{% endblock %}
