{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block stylesheets %}

	{{ parent() }}

	<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnLyf_4BpAnkMJ6tFeO-dKDUstYO0rDso&libraries=places&callback=initMap"></script>

{% endblock %}


{% block body %}
	{% if is_granted("ROLE_ADMIN") %}
		<div class="text-center m-5">
			<button class="header__delete btn btn-danger justify-content-end" data-toggle="modal" data-target="#exampleModal">Supprimer ce compte</button>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Suppression irréversible</h5>
						<button type="button" class="close btn btn-primary" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						Etes-vous bien sûr de vouloir effectuer cette action définitive ?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Non</button>
						<a class="btn btn-danger" href="{{ path('deleteUser', {id: user.id}) }}">Supprimer</a>
					</div>
				</div>
			</div>
		</div>

	{% endif %}

	<div class="wrapper__header">
		<div class="wrapper">

			<div class="header">
				<div class="avatar">
					<figure class="header__user">
						<img src="{{ asset('img/avatar/' ~ user.avatar) }}" alt="avatar user" class="user__picture">
					</figure>
					<div class="user__infos">
						<h1 class="user__name">
							{{ user.pseudo }}
						</h1>
						<p>Inscrit(e) depuis le
							{{ user.dateCreation | date("m/d/Y") }}
						</p>
					</div>
				</div>

				{% set count = 0 %}
				{% for article in user.publications %}
					{% if article.statut == 1 %}
						{% set count = count + 1 %}
					{% endif %}
				{% endfor %}
				<div class="header__leftColumn">
					<small>
						<a href="{{ path('indexArticles', {id: user.id}) }}" class="header__text">
							<span>{{count}}</span>
							articles
						</a>
					</small>
					<small>
						<a href="{{ path('followers', {id: user.id}) }}" class="header__text">
							<span>{{user.followers|length}}</span>
							abonnés</a>
					</small>
					<small>
						<a href="{{ path('follows', {id: user.id}) }}" class="header__text">
							<span>{{user.following|length}}</span>
							abonnements</a>
					</small>
				</div>
				{% if app.user %}
					{% if user != app.user %}
						<div class="header__rightColumn">
							<a href="{{ path('messagerieShow', {id: user.id}) }}" class="btn btn-info">
								<i class="fas fa-envelope"></i>
							</a>
							{% if user.followers.contains(app.user) %}
								<a class="btn btn-info" href="{{ path('unfollowing', {id: user.id}) }}">Ne plus suivre</a>
							{% else %}
								<a class="btn btn-info" href="{{ path('following', {id: user.id}) }}">Suivre</a>
							{% endif %}
						</div>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
	<main class="main">
		<p class="main__description">
			{{ user.description }}</p>
		<div class="wrapper">
			<div class="d-flex">
				<div class="d-flex align-items-center m-2">
					<span id="red"></span>
					<span>Voyages réalisés</span>
				</div>
				<div class="d-flex align-items-center m-2">
					<span id="blue"></span>
					<span>Voyages souhaités</span>
				</div>
			</div>
			<div id="mapProfile"></div>
		</div>
		<div class="main__articles">
			{% if articlesPopulaires is defined %}
				{% if articlesPopulaires is not empty %}
					<h3 class="articles__title text-center">Articles les plus populaires :</h3>
					<div class="articles__flex">
						{% for article in articlesPopulaires %}
							{% if article.statut == 1 %}
								<a href="{{ path('article_show', {id: article.id}) }}" class="m-2">
									<figure class="article__picture">
										{% if article.galeries is not empty %}
											{% for galerie in article.galeries %}
												{% if loop.first %}
													<img src="{{ asset('img/galerie/' ~ galerie.img) }}" alt="illustration de l'article" class="article__thumbnail">
												{% endif %}
											{% endfor %}
										{% else %}
											<div class="article__thumbnail article__thumbnail--empty"></div>
										{% endif %}
										<figcaption class="article__title">
											{{ article.titre }}
										</figcaption>
									</figure>
								</a>
							{% endif %}
						{% endfor %}
					{% endif %}
				{% endif %}
			</div>
		</div>

	</main>

	<script src="{{asset('js/profileGeoloc.js')}}"></script>
{% endblock %}
