{% extends 'base.html.twig' %}

{% block title %}Modifier compte
{% endblock %}

{% block stylesheets %}

	{{ parent() }}

	<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnLyf_4BpAnkMJ6tFeO-dKDUstYO0rDso&libraries=places&callback=initAutocomplete&initMap"></script>


{% endblock %}

{% block body %}

	{% for flashError in app.flashes('essaiHacking') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}
	<div class="container">
		<h1 class="p-5">Modifier profil</h1>
		<div class="d-flex justify-content-end">
			<a class="btn btn-lg btn-warning m-3" href="{{ path('reset_password', {id: app.user.id}) }}">Modifier mon mot de passe</a>
			<button class="btn btn-lg btn-danger m-3" data-toggle="modal" data-target="#exampleModal">Supprimer mon compte</button>

		</div>


		{{ form_start(editUserForm) }}

		{{ form_row(editUserForm.imageFile) }}

		{{ form_row(editUserForm.email) }}

		{{ form_row(editUserForm.pseudo) }}

		{{ form_row(editUserForm.description) }}


		<div>
			<h5>quels sont vos projets de voyage ?</h5>
			<input id="autocomplete" placeholder="Indiquer un pays" type="text"/>
		</div>
		<div id="map" class="mapHidden"></div>

		<button type="button" class="add_item_link" data-collection-holder-class="projetsVoyages">Enregistrer ce lieu</button>

		<ul class="projetsVoyages" data-index="{{ editUserForm.projetsVoyages|length > 0 ? editUserForm.projetsVoyages|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(editUserForm.projetsVoyages.vars.prototype)|e('html_attr') }}">


			{% for projetVoyage in app.user.places %}
				{% if projetVoyage.statut == 0 %}
					<li class="place list-group-item">{{projetVoyage.name}}
						<a href="{{path('removePlace', {id: projetVoyage.id})}}">
							<i class="fas fa-trash-alt"></i>
						</a>
					{% endif %}

					{# {{ form_row(projetVoyage) }} #}

				</li>
			{% endfor %}

		</ul>

		<h5>où avez-vous déjà voyagé ?</h5>
		<input id="autocompleteVoyagesAccomplis" placeholder="Indiquer un pays" type="text"/>
		<div id="mapVoyagesAccomplis" class="mapHidden"></div>

		<button type="button" class="add_item_linkVoyagesAccomplis" data-collection-holder-class="voyagesAccomplis">Enregistrer ce lieu</button>

		<ul class="voyagesAccomplis" data-index="{{ editUserForm.voyagesAccomplis|length > 0 ? editUserForm.voyagesAccomplis|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(editUserForm.voyagesAccomplis.vars.prototype)|e('html_attr') }}">


			{% for voyageAccompli in app.user.places %}
				{% if voyageAccompli.statut == 1 %}
					<li class="place list-group-item">{{voyageAccompli.name}}
						<a href="{{path('removePlace', {id: voyageAccompli.id})}}">
							<i class="fas fa-trash-alt"></i>
						</a>
					{% endif %}

					{# {{ form_row(projetVoyage) }} #}

				</li>
			{% endfor %}

		</ul>
		{{ form_end(editUserForm) }}
	</div>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Action irréversible</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Êtes-vous vraiment sûr de vouloir fermer votre compte ? Cette action est définitive.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
					<a class="btn btn-danger" href="{{ path('deleteUser', {id: app.user.id}) }}">Oui</a>
				</div>
			</div>
		</div>
	</div>

	<script src="{{asset('js/editGeoloc.js')}}"></script>

{% endblock %}
