{% extends 'base.html.twig' %}

{% block title %}Index thèmes
{% endblock %}

{% block stylesheets %}

	{{ parent() }}

	<link
	href="{{ asset('css/themes/themesList/style.css') }}" rel="stylesheet"/>
{#{{ encore_entry_link_tags('app') }}#}
{% endblock %}

{% block body %}
	<h1 class="titre pt-5">Thèmes</h1>
	<div class="wrapperFlex row">
		{% for theme in themes %}
			<a href="{{ path('theme_show', {id: theme.id}) }}" class="a col-lg-3 col-sm-5 col-11 m-2">
				<figure class="theme picture">
					<img src="{{ asset('img/themes/' ~ theme.img) }}" alt="photo du thème" class="thumbnail">
					<figcaption class="title">
						{{ theme.libelle }}
					</figcaption>
				</figure>
			</a>
		{% endfor %}
	</div>
{% endblock %}
