{% extends 'base.html.twig' %}

{% block title %}Détail thème
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block body %}

	{% include 'components/lightbox.twig' %}

	<div class="wrapper-whole">
		<div class="banner">
			<figure class="picture">
				<img src="{{ asset('img/themes/' ~ theme.img) }}" alt="#" class="thumbnail">
				<figcaption class="title">{{ theme.libelle }}</figcaption>
			</figure>
		</div>
		<section class="themes">
			<h2>Thèmes :</h2>
			<div class="wrapperFlex row your-class">
				{% for country in countries %}
					<a href="{{ path('both_show', {idPays: country.id, idTheme: country.id}) }}" class="a col-lg-3 col-sm-5 col-11 m-2">
						<figure class="picture">
							<img src="{{ asset('img/pays/' ~ country.img) }}" alt="#" class="thumbnail">
							<figcaption class="title">
								{{ country.libelle }}
							</figcaption>
						</figure>
					</a>
				{% endfor %}
			</div>
			{# <button class="link">Voir plus</button> #}
		</section>
		<main class="wrapper-main">
			<div class="wrapper-posts">
				{% for publication in theme.articles %}
					{% if publication.statut == 1 %}

						{% include 'components/publication.twig' %}

					{% endif %}
				{% endfor %}
			</div>

			{% include 'components/asideMembres.twig' %}

		</main>

	</div>

{% endblock %}
