{% extends 'base.html.twig' %}

{% block title %}Hello PaysController!
{% endblock %}

{% block stylesheets %}

	{{ parent() }}

	<link
	href="{{ asset('css/theme/themeShow/style.css') }}" rel="stylesheet"/>
{#{{ encore_entry_link_tags('app') }}#}
{% endblock %}

{% block body %}
	<div class="wrapper-whole">
		<header class="banner">
			<figure class="picture">
				<img src="{{ asset('img/themes/' ~ theme.img) }}" alt="#" class="thumbnail">
				<figcaption class="title">{{ theme.libelle }}</figcaption>
			</figure>
		</header>
		<section class="pays">
			<h2>Pays :</h2>
			<div class="wrapperFlex row">
				{% for pays in pays|slice(0,3) %}
					<a href="{{ path('both_show', {idPays: pays.id, idTheme: theme.id}) }}" class="a col-lg-3 col-sm-5 col-11 m-2">
						<figure class="picture">
							<img src="{{ asset('img/pays/' ~ pays.img) }}" alt="#" class="thumbnail">
							<figcaption class="title">
								{{ pays.libelle }}
							</figcaption>
						</figure>
					</a>
				{% endfor %}
			</div>
			<button class="link">Voir plus</button>
		</section>
		<main class="wrapper-main">
			<div class="wrapper-posts">

				{% for publication in theme.articles %}
					{% if publication.statut == 1 %}

						{% include 'components/publication.twig' %}

					{% endif %}
				{% endfor %}
			</div>

			{% include 'components/asideMembres.twig' %}

		</main>


	</div>

{% endblock %}
