<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
																						and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			<script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>
			<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
			<link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
			<link href="{{ asset('css/dropdownButtons/style.css') }}" rel="stylesheet"/>
			<link
			rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
		{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}
		{% block javascripts %}
			<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
			<script src="https://kit.fontawesome.com/e2a8fec256.js" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
			<script src="{{ asset('node_modules/readmore-js/readmore.min.js') }}"></script>
			<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
			<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
			<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

		{% endblock %}
	</head>
	<body>

		<header class="navbar-expand-lg d-flex flex-wrap" id="header">
			<div
				id="entete" class="d-flex justify-content-between sticky">
				{# <div class="entete__blockUn"> #}
				<a href="{{ path('home') }}" class="col-2">
					<img src="{{ asset('img/logo2.png') }}" class="col-12 logo"/>
				</a>
				<nav id="myLinks">
					<ul class="navbar-nav d-flex justify-content-between">
						<li class="nav-item dropdown dropdownHover">
							<a class="nav-link dropdown-toggle text-white text-uppercase" href="{{ path('pays') }}" id="navbarDropdownPays">
								Pays
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownPays">
								{% for country in countries %}
									<a class="dropdown-item text-info text-uppercase" href="{{ path('pays_show', {id: country.id}) }}">{{ country.libelle }}</a>
								{% endfor %}
							</div>
						</li>
						<li class="nav-item dropdown dropdownHover">
							<a class="nav-link dropdown-toggle text-white text-uppercase" href="{{ path('theme') }}" id="navbarDropdownTheme">
								Thèmes
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownTheme">
								{% for theme in themes %}
									<a class="dropdown-item text-info text-uppercase" href="{{ path('theme_show', {id: theme.id}) }}">{{ theme.libelle }}</a>
								{% endfor %}
							</div>
						</li>
						{% if app.user %}
							<li class="nav-item">
								<a class="nav-link text-white text-uppercase" href="{{ path('users') }}">Membres</a>
							</li>
						{% endif %}
						<li class="nav-item">
							<a class="nav-link text-white text-uppercase" href="#">Carte</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white text-uppercase" href="{{ path('aPropos')}}">à propos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white text-uppercase" href="{{ path('makeSearch')}}">
								<i class="fas fa-search"></i>
							</a>
						</li>
					</ul>
				</nav>
				{% if app.user %}
					<div class="d-flex">
						<div id='login' class="btn">
							<div>
								{# <i class="fas fa-user-cog"></i> #}
								<h5>{{ app.user.pseudo|capitalize }}</h5>
							</div>
							{% set notification = false %}
							{% for message in app.user.messagesReceived %}
								{% if message.newMessage == 1 %}
									{% set notification = true %}
								{% endif %}
							{% endfor %}
							{% for publication in app.user.publications %}
								{% for commentaire in publication.commentaires %}
									{% if commentaire.newComment == 1 %}
										{% set notification = true %}
									{% endif %}
								{% endfor %}
							{% endfor %}
							<div>
								{% if notification == true %}
									<i class="fas fa-circle notif"></i>
								{% endif %}
							</div>
							{% if app.user %}
								{% include 'components/dashboard.twig'%}
							{% endif %}
						</div>
						<button onclick="menuBurger()" class="btn btn-info" id="menuBurger">
							<i class="fas fa-bars"></i>
						</button>
					</div>
				{% else %}
					<a id='loginVisitor' href='{{ path('app_login')}}'>
						<div class="btn btn-primary m-1">
							<i class='fas fa-user m-1'></i>
							{# <h5>Mon compte</h5> #}
						</div>
					</a>
				{% endif %}
			</div>
		</header>
		<div class="margin"> {% block body %}{% endblock %}
			</div>
			<footer class="stickyBottom">
				<div class="d-flex">
					<div>2021 © Florian Duchesne MENTIONS LÉGALES</div>
					{# <div class="d-flex"> #}
					<div>
						<a href="http://facebook.com">
							<i class="fab fa-facebook"></i>
						</a>
						<a href="http://instagram.com/">
							<i class="fab fa-instagram"></i>
						</a>
						<a href="http://twitter.com/">
							<i class="fab fa-twitter"></i>
						</a>
					</div>
					{# </div> #}
					<div>
						<a href="{{ path('aPropos')}}">A propos</a>
					</div>
				</div>
			</footer>
			<a href="#header" id="up">
				<i class="fas fa-chevron-up"></i>
			</a>
		</body>
		<script src="{{ asset('js/script.js') }}"></script>
	</html>
</body></html>
