{% if commentaire is defined %}
	{% set form = commentaire.createView %}
	<span class="btnPublierComm btn btn-info">Commenter</span>
	{% if publication.commentaires|length > 0 %}
		<span class="btnCommentaires btn btn-info">Voir les commentaires ({{publication.commentaires|length}})</span>
	{% else %}
		<span class="btnCommentaires"></span>
	{% endif %}
	<div class="hidden">
		{{ form(form, {'action': path('addComment', {id: publication.id})}) }}
		</div>
	{% endif %}

	<div class="hidden">
		{% for commentaire in publication.commentaires %}
			<div class="commentaire">
				<p class="commentaire__auteur">
					<small>
						{% if commentaire.auteur.pseudo is defined %}
							<strong>{{ commentaire.auteur.pseudo }}</strong>
						{% endif %}
						-
						{{ commentaire.dateTime|date("m/d/Y H:i") }}</small>
					{% if app.user == commentaire.auteur %}
						<a href="{{path('deleteComm', {id: commentaire.id})}}" class="confirm">
							<i class="far fa-trash-alt"></i>
						</a>
					{% endif %}
				</p>
				<p class="commentaire__texte">{{ commentaire.texte }}</p>
				{% if app.user %}
					{% set likedComm = false %}
					{% for like in commentaire.likes %}
						{% if (app.user == like.user) %}
							{% set likedComm = true %}
						{% endif %}
					{% endfor %}
					<div>
						<a href="{{ path('likeCommentaire', {idCommentaire: commentaire.id}) }}" class="likeComm">
							{% if (likedComm == true) %}
								<i class="fa fa-heart"></i>
							{% else %}
								<i class="far fa-heart"></i>
							{% endif %}
						</a>
						<span class="nbLikes">
							{{commentaire.likes|length }}</span>
					</div>
				{% endif %}
			</div>
		{% endfor %}
	</div>
