<div class="dashboard">
	{% if is_granted("ROLE_ADMIN") %}
		<a class="dashboard__link" href="{{ path('admin') }}">Espace admin</a>
	{% endif %}
	<a class="dashboard__link" href="{{ path('ajoutArticle', {idAuteur: app.user.id}) }}">Publier un nouvel article</a>
	<a class="dashboard__link" href="{{ path('brouillons')}}">Voir mes brouillons</a>
	<a class="dashboard__link" href="{{ path('editProfil', {id: app.user.id}) }}">éditer mon profil</a>
	<div>
		<a class="dashboard__link" href="{{ path('messagerie', {id: app.user.id}) }}">Messagerie</a>
		{% set notification = false %}
		{% set publicationsNotifiees = [] %}
		{% for message in app.user.messagesReceived %}
			{% if message.newMessage == 1 %}
				{% set notification = true %}
			{% endif %}
		{% endfor %}
		{% for publication in app.user.publications %}
			{% for commentaire in publication.commentaires %}
				{% if commentaire.newComment == 1 %}
					{% set publicationsNotifiees = publicationsNotifiees|merge([publication]) %}
				{% endif %}
			{% endfor %}
		{% endfor %}
		{% if notification == true %}
			<i class="fas fa-circle notif"></i>
		{% endif %}
	</div>
	<a class="dashboard__link" href="{{ path('app_logout') }}">Se déconnecter</a>
</div>
{% if publicationsNotifiees %}
	{% for publicationNotifiee in publicationsNotifiees %}
		<div class="notifCommentaire">
			<p>Vous avez un nouveau commentaire sous votre article
				<a href="{{ path('article_show', {id: publicationNotifiee.id}) }}">{{publicationNotifiee.titre}}</a>
			</p>
		</div>
	{% endfor %}
{% endif %}
