{# {% set read_more_link %}
<span>…</span>
<button class="text-info" href="#" .readmore()">Lire plus</button>
{% endset %}
 #}

<div class="post">
	<div class="post__entete">
		<a class="post__title" href="{{ path('article_show', {id: publication.id}) }}">
			<h4>{{ publication }}</h4>
		</a>
		<div class="post__user">
			<figure class="user__avatar"><img src="{{ asset('img/avatar/' ~ publication.auteurArticle.avatar) }}"/></figure>
			<a class="user__name" href="{{ path('user_show', {id: publication.auteurArticle.id}) }}">
				<h5>{{ publication.auteurArticle.pseudo }}</h5>
			</a>
		</div>
	</div>
	<p class="post__categories">Lieu :
		<a href="{{path('indexLieu', {id: publication.id})}}">{{ publication.lieu }}</a>
	</p>
	{% if (publication.galeries | length > 1) %}
		<figure class="post__wrapperPictures--many">
		{% else %}
			<figure class="post__wrapperPictures">
			{% endif %}
			{% for galerie in publication.galeries %}
				<img class="post__picture" src="{{ asset('img/galerie/' ~ galerie.img) }}"/>
				<figcaption class="post__legende">{{ galerie.legende }}</figcaption>
			{% endfor %}
		</figure>
		<article class="post__paragraph">{{ publication.texte|raw }}</article>
		<p class="post__categories">Pays :
			<a href="{{path('pays_show', {id: publication.pays.id})}}">{{ publication.pays }}</a>, thème :
			<a href="{{ path('theme_show', {id: publication.theme.id}) }}">{{ publication.theme }}</a>
		</p>
		<p>Mots-clés :
			{% for hashtag in publication.hashtags %}
				<a href="{{ path('indexTag', {id: hashtag.id}) }}">{{hashtag.name}}</a>
			{% endfor %}
		</p>
		<div>
			<i class="fas fa-heart">
				<span class="nbLikes">
					{{publication.likes|length }}</span>
			</i>
		</div>
		{% if app.user %}
			{% set liked = false %}
			{% for like in publication.likes %}
				{% if (app.user == like.user) %}
					{% set liked = true %}
				{% endif %}
			{% endfor %}
			{% if (liked == true) %}
				<div>
					<a href="{{ path('like', {id: publication.id}) }}" class="like">
						<i class="fa fa-heart"></i>
					</a>
				</div>
			{% else %}
				<div>
					<a href="{{ path('like', {id: publication.id}) }}" class="like">
						<i class="far fa-heart"></i>
					</a>
				</div>
			{% endif %}
		{% endif %}
	</div>
