<div class="post">
	<div class="post__entete">
		<a class="post__title" href="{{ path('article_show', {id: publication.id}) }}">
			<h4>{{ publication }}</h4>
		</a>
		<div class="post__user">
			<figure class="user__avatar"><img src="{{ asset('img/avatar/' ~ publication.auteurArticle.avatar) }}"/></figure>
			{% if app.user %}
				<a class="user__name" href="{{ path('user_show', {id: publication.auteurArticle.id}) }}">
				{% endif %}
				<h5>{{ publication.auteurArticle.pseudo }}</h5>
				{% if app.user %}
				</a>
			{% endif %}
		</div>
	</div>
	<div class="post__lieuEtDate">
		<span class="post__categories">Lieu :
			<a href="{{path('indexLieu', {id: publication.id})}}">{{ publication.lieu }}</a>
		</span>
		<span>
			Publié le
			{{publication.dateCreation|date("m/d/Y") }}
		</span>
	</div>
	{% if (publication.galeries | length > 1) %}
		<figure class="post__wrapperPictures--many">
		{% else %}
			<figure class="post__wrapperPictures">
			{% endif %}
			{% for galerie in publication.galeries %}
				<img class="post__picture" src="{{ asset('img/galerie/' ~ galerie.img) }}"/>
				<figcaption class="post__legende">{{ galerie.legende }}</figcaption>
			{% endfor %}
		</figure>
		<article class="post__paragraph">{{ publication.texte|raw }}</article>
		<p class="post__categories">Pays :
			<a href="{{path('pays_show', {id: publication.pays.id})}}">{{ publication.pays }}</a>, thème :
			<a href="{{ path('theme_show', {id: publication.theme.id}) }}">{{ publication.theme }}</a>
		</p>
		{% if (publication.hashtags|length > 0) %}
			<p>Mots-clés :
				{% for hashtag in publication.hashtags %}
					<strong>
						<a href="{{ path('indexTag', {id: hashtag.id}) }}">{{hashtag.name}}</a>
					</strong>
				{% endfor %}
			</p>
		{% endif %}
		{% if app.user %}
			{% set liked = false %}
			{% for like in publication.likes %}
				{% if (app.user == like.user) %}
					{% set liked = true %}
				{% endif %}
			{% endfor %}
			<div>
				<a href="{{ path('likeArticle', {idArticle: publication.id}) }}" class="like">
					{% if (liked == true) %}
						<i class="fa fa-heart"></i>
					{% else %}
						<i class="far fa-heart"></i>
					{% endif %}
				</a>
				<span class="nbLikes">
					{{publication.likes|length }}</span>
			</div>
			{% include 'components/commentaires.twig'%}

		{% endif %}

	</div>
