{% extends "base.html.twig" %}

{% block body %}

	{% for message in app.flashes('info') %}
		<div class="alert alert-warning m-3">{{ message }}</div>
	{% endfor %}


<div class="container">
	<form method="post">
		<h1 class="h3 mb-3 font-weight-normal">Changer le mot de passe</h1>
		<label for="inputPassword">Nouveau mot de passe</label>
		<input type="password" name="password" id="inputPassword" class="form-control m-3" placeholder="mot de passe" required>
		<label for="inputPasswordRepeat">Répéter le nouveau mot de passe</label>
		<input type="password" name="passwordRepeat" id="inputPasswordRepeat" class="form-control m-3" placeholder="mot de passe" required>
		<input type="hidden" name="token" value="{{ token }}">
		<input type="hidden" name="token_csrf" value="{{ csrf_token('reset_password') }}"/>
		<button class="btn btn-lg btn-primary" type="submit">
			Register
		</button>
	</form>
</div>
	{# <a href=" {{ ('app_login') }}">Retour</a>
	
		<form name="change_password" method="post">
	
			{{ form_row(form.password) }}
			{{ form_row(form.valider) }}
		</form> #}
{% endblock %}
